*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --container-width: 1140px;
  --clr-text-primary: #5b4140;
  --grid-col-size: 400px;
}

.d-container h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1.1 !important;
}

/* Utility classes */

.d-container {
  margin: 2rem auto;
  width: min(100%, var(--container-width));
}

.d-flex {
  display: flex;
}

.d-flex-col {
  flex-direction: column;
}

.d-flex-justify-between {
  justify-content: space-between;
}

.d-flex-justify-center {
  justify-content: center;
}

.d-flex-align-center {
  align-items: center;
}

/* Grid */

.d-grid {
  display: grid;
}

.d-grid-cols {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--grid-col-size)), 1fr)
  );
}

.d-w-full {
  width: 100%;
}

.d-w-30 {
  width: 30%;
}

.d-w-50 {
  width: 50%;
}

.d-rounded {
  border-radius: 1rem;
}

.d-picture {
  height: 100%;
}

.d-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-button {
  padding: 0.5rem 1rem;
  font-size: 18px;
  border: none;
  color: white;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.d-mt-auto {
  margin-top: auto;
}

.d-mx-auto {
  margin-inline: auto;
}

.d-text-align-center {
  text-align: center;
}

/* SPACING */

.d-spacing-400 {
  margin-block: 5rem;
}

.d-spacing-300 {
  margin-block: 3rem;
}

@media (width < 900px) {
  .d-spacing-400 {
    margin-block: 1.25rem;
  }

  .d-spacing-300 {
    margin-block: 2rem;
  }
}

/* GAPS */

.d-gap-100 {
  gap: 0.1rem;
}
.d-gap-200 {
  gap: 0.5rem;
}

.d-gap-300 {
  gap: 1rem;
}

.d-gap-400 {
  gap: 1.25rem;
}

.d-gap-500 {
  gap: 1.5rem;
}

/* List */

ul.d-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  color: var(--clr-text-primary);
  & > * {
    list-style-position: inside;
  }
}
/* FIGURES */

.d-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.d-figcaption {
  margin-top: 0.5rem;
}

/* COLORS */

.d-clr-primary {
  color: var(--clr-primary);
}

.d-clr-secondary {
  color: var(--clr-secondary);
}

.d-clr-black {
  color: var(--clr-black);
}

/* Background */

.d-bg-escape {
  padding-block: 3rem;
  box-shadow: 0 0 0 100vmax var(--clr-bg-grey);
  clip-path: inset(0 -100vmax);
  background-color: var(--clr-bg-grey);
}

/* FONTS */

.d-fz-400 {
  font-size: clamp(1rem, 5vw, 1.1rem);
}

.d-fz-500 {
  font-size: clamp(1.125rem, 5vw, 1.3em);
}

.d-fz-600 {
  font-size: clamp(1.2rem, 5vw, 1.7rem);
}
.d-fz-700 {
  font-size: clamp(2rem, 5vw, 3rem);
}

/* PADDINGS-MARGINS */

.d-p-0 {
  padding: 0;
}

.d-mx-auto {
  margin-inline: auto;
}

.d-mt-auto {
  margin-top: auto;
}

/* OVERLAY */

.d-desc-stack {
  grid-area: 1/1/2/2;
}

.d-order-first {
  grid-row-start: 1;
}

/* TEXT */

.d-bold-600 {
  font-weight: 600;
}
.d-bold-700 {
  font-weight: 700;
}

.d-text-center {
  text-align: center;
}

/* Custom classes */

.d-rounded {
  border-radius: 0.5rem;
}

.d-rounded-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.d-rounded-bottom {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.d-rounded-left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.d-rounded-right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.d-p-6 {
  padding: 1.5rem;
}

.d-p-10 {
  padding: 2.5rem;
}

.d-py-5 {
  padding-block: 1.25rem;
}

.d-px-4 {
  padding-inline: 1rem;
}

.d-mt-5 {
  margin-top: 1.25rem;
}

.d-mb-5 {
  margin-bottom: 1.25rem;
}

.d-mb-6 {
  margin-bottom: 1.5rem;
}

.d-mb-7 {
  margin-bottom: 2rem;
}

.d-mb-10 {
  margin-bottom: 2.5rem;
}
.d-my-5 {
  margin-block: 1.25rem;
}

.d-clr-primary {
  color: var(--clr-text-primary);
}

.d-clr-secondary {
  color: #e2af7b;
}

/* ОПИСАНИЕ - DESC  */

.d-star-bg {
  background-image: url(images/star-bg.png);
  background-position: right;
  object-fit: cover;
}

.d-bg-gradient-inset {
  background: linear-gradient(180deg, #fff9f2 46.69%, #e1d3c3 100%);
}

.d-bg-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.d-buble-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/desc_buble-bg.png");
}

.d-desc-product {
  display: grid;
  height: 510px;
  grid-template-columns: 2fr 3fr;
  background-size: cover;
  background-image: url(images/desc_product-bg.png);

  & > *:first-child {
    grid-area: 1/2/2/3;
  }
}

.d-desc-footer {
  background-image: url(images/desc_footer-bg.jpg);
  background-size: cover;
}

.d-desc-graph-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  & > *:first-child {
    grid-row: span 2;
  }
}

.d-desc-graph {
  --circle-width: 155px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;

  & > * {
    position: relative;
    display: flex;
    height: var(--circle-width);
    aspect-ratio: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    text-align: center;
    border-radius: 50%;
    justify-self: center;
  }

  & > *:first-child {
    grid-area: 1/1/2/3;
    align-self: flex-end;
    background-color: #e7d6c5;

    &::before {
      position: absolute;
      content: url("images/desc_arrow1.png");
      left: -60%;
      top: 50%;
    }

    &::after {
      position: absolute;
      content: url("images/desc_arrow2.png");
      right: -70%;
      top: 50%;
    }
  }

  & > *:nth-child(2) {
    grid-area: 2/2/3/3;
    background-color: #f0e6d8;

    &::before {
      position: absolute;
      content: url("images/desc_arrow3.png");
      top: 100%;
      left: -70%;
    }
  }

  & > *:last-child {
    grid-area: 2/1/3/2;
    background-color: #f4e9ca;
  }
}

.d-card {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 1rem;
  align-items: center;
}

.d-card-min-content {
  --icon-size: 57px;
  grid-template-columns: var(--icon-size) 1fr;
}

.d-desc-grid-cols {
  grid-template-columns: 1fr 1.5fr;
}

.d-grid-even-cols {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--grid-col-size)), 1fr)
  );
}

.d-grid-even-cols-sm {
  --grid-col-size: 300px;
}

.d-grid-even-cols-lg {
  --grid-col-size: 400px;
}

.d-desk-clr-light {
  color: #b1987f;
}

.d-uppercase {
  text-transform: uppercase;
}

.d-desc-list-footer {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 5rem;

  & li {
    position: relative;
    border-radius: 0.5rem;
    padding: 1.25rem 1.25rem 1.25rem 3.25rem;
    background: linear-gradient(90deg, #fff6e6 0%, #fffefc 100%);
    list-style: none;
    &::before {
      position: absolute;
      content: url(images/desc_star.svg);
      inset: 0;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }
}

/* преимущества - ADV  */

.d-grid-adv {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-size: cover;
  background-image: url(images/adv_effect-bg.png);
  gap: 1rem;

  & > * {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  & > *:not(:first-child):not(:last-child) {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }

  & > *:nth-child(1) {
    grid-area: 1/1/2/4;
  }
  & > *:nth-child(2) {
    grid-area: 1/4/2/7;
  }
  & > *:nth-child(3) {
    grid-area: 2/1/3/3;
  }
  & > *:nth-child(4) {
    grid-area: 2/3/3/5;
  }
  & > *:nth-child(5) {
    grid-area: 2/5/3/7;
  }
  & > *:nth-child(6) {
    grid-column: span 3;
  }
}

.d-adv-grid {
  --grid-col-size: 100px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--grid-col-size)), 1fr)
  );
  z-index: 2;
}

.d-adv-footer-bg {
  position: relative;
  background: linear-gradient(297.26deg, #f8edde 10.18%, #f6ecdf 86.08%);
  overflow: hidden;
  &::after {
    position: absolute;
    content: url(images/adv_res-bg.png);
    top: 0;
    right: 0;
    opacity: 0.3;
    z-index: 1;
  }
}

/* СТИЛИ состав ПРИМИНЕНИЕ  */

.d-comp-gradient-bg {
  background: linear-gradient(
      129.07deg,
      #fffaf1 0%,
      #fffbf4 43.16%,
      #fdf0de 100%
    ),
    linear-gradient(129.07deg, #fffaf1 0%, #fffbf4 43.16%, #fdf0de 100%),
    linear-gradient(
      90deg,
      #f7f2ee 0%,
      #fffaf1 24%,
      rgba(234, 215, 187, 0) 55.6%
    );
}

.d-comp-grid-icons {
  --grid-col-size: 440px;
}

.d-comp-icons {
  --icon-size: 80px;
  display: flex;

  img {
    width: var(--icon-size);
    aspect-ratio: 1;
  }
}

.-translateX-1 {
  transform: translateX(-10%);
}
.-translateX-2 {
  transform: translateX(-20%);
}
.-translateX-3 {
  transform: translateX(-30%);
}
.-translateX-4 {
  transform: translateX(-40%);
}
.-translateX-5 {
  transform: translateX(-50%);
}

.d-comp-grid-cells {
  --grid-col-size: 280px;
}

.d-comp-grid-footer-bg {
  --grid-col-size: 470px;
}

@media (width < 900px) {
  .d-comp-grid {
    grid-template-columns: repeat(2, 1fr);
    & > * {
      aspect-ratio: 2/3;
    }
  }

  .-translateX-1 {
    transform: translateX(-50%);
  }
  .-translateX-2 {
    transform: translateX(-100%);
  }
  .-translateX-3 {
    transform: translateX(-150%);
  }
  .-translateX-4 {
    transform: translateX(-200%);
  }
  .-translateX-5 {
    transform: translateX(-250%);
  }
}

/* СТИЛИ ВКЛАДКИ ПРИМИНЕНИЕ  */

.d-list-use {
  display: flex;
  height: 100%;
  counter-reset: use-list-counter;
}

.d-list-item {
  --icon-height: 38px;
  --gap: 1rem;
  position: relative;
  display: flex;
  height: var(--icon-height);
  padding-left: calc(var(--icon-height) + var(--gap));
  counter-increment: use-list-counter;
  align-items: center;
  list-style: none;

  &:before {
    position: absolute;
    display: grid;
    content: counter(use-list-counter);
    width: var(--icon-height);
    place-items: center;
    inset: 0;
    aspect-ratio: 1;
    border: 1.5px solid var(--clr-text-primary);
    border-radius: 50%;
  }
}

.d-use-footer {
  padding-block: 2rem;
  background: linear-gradient(180deg, #fcf4f0 0%, #e4d3c2 100%),
    linear-gradient(
      118.83deg,
      rgba(251, 246, 240, 0) 18.86%,
      rgba(255, 252, 248, 0.9) 75.17%,
      rgba(216, 206, 197, 0) 120.35%
    );
}

.d-use-footer-bg-upper {
  padding: 1rem 1.25rem;
  background: linear-gradient(
    47.48deg,
    #f7f2ee 0.51%,
    #fffaf1 51.22%,
    #ead7bb 118.02%
  );
}
.d-use-footer-bg-lower {
  padding: 1rem 1.25rem;
}

.d-card-use {
  grid-template-columns: 58px 1fr;
  width: min-content;
}

.d-use-icons {
  --grid-col-size: 100px;
  column-gap: 2rem;
  img {
    height: 122px;
    object-fit: contain;
  }
  .d-figure {
    display: grid;
    grid-template-rows: 122px 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .d-figcaption {
    display: flex;
    height: 100%;
    gap: 0.5rem;
    margin-top: 0;
    flex-direction: column;
  }
}

@media (width < 900px) {
  .d-use-icons {
  }
}
